<h1>Welcome to {{userInfo.username}} projects</h1>

<div class="card-container">
  <div *ngFor="let proj of projects" class="card" (click)="goProject(proj.id)" style="cursor:pointer">
        <div   class="card-count-container">
        <div class="card-count"></div>
        </div>
        
        <div class="card-content">
        <h2>{{proj.name}}</h2>
        <h3>Type: {{proj.file_type}}</h3>
        <h3>Last Updated:{{proj.last_updated.substring(0,proj.last_updated.length-11)}} </h3>
    </div>
        <div class="card-footer">
            {{proj.endpoint_name}}
        </div>
  </div>
</div>