 <section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">API<span class="highlight">-BUILDER</span></h2>
        <br><br>
        <p class="intro">A free API Generator designed to help Users  create <br><br> their  own API-s</p>
        <div class="btns">
            <a *ngIf='!isAuth' class="btn btn-cta-secondary" href="register" >Get Started</a>
            <a *ngIf='!isAuth' class="btn btn-cta-primary" href="login" >Login</a>
            <a *ngIf='isAuth' class="btn btn-cta-secondary" href="{{newProfile}}" >Create new API</a>

        </div>
        <ul class="meta list-inline">
            <li class="list-inline-item"><a href="https://github.com/Aldokimi/API-Builder/" >View on GitHub</a></li>
            <li class="list-inline-item"><a href="https://github.com/Aldokimi/API-Builder/" >Support us </a></li>
        </ul><!--//meta-->
    </div><!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline mb-2">
               
                <li class="list-inline-item facebook-like">
                     <div class="fb-like" data-href="https://github.com/Aldokimi/API-Builder/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </li><!--//facebook-like-->
                <li class="list-inline-item github-star">
<a class="github-button" href="https://github.com/Aldokimi/API-Builder/" data-icon="octicon-star" aria-label="">Star</a></li>
                <li class="list-inline-item github-follow"><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/Aldokimi/API-Builder/" aria-label="Follow SWC on GitHub">Follow SWC</a></li>                   
            </ul>
        </div>
    </div>
</section><!--//promo-->